.ContactForm {
    width: 80%;
    margin: auto;
    background-color: #fbfbfb;
}

.Form{
    margin: 0px 10% 0px 10%;
}

.panel {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

